# Copyright (c) 2016, nubia. All rights reserved.
#
# init.nb.rc
# For all nubia projects defined in device/zte

on boot
    chmod 0666 /mnt/vendor/persist/bluetooth/.bt_nv.bin
    chmod 0666 /mnt/vendor/persist/wlan_mac.bin
    chown wifi wifi /mnt/vendor/persist/wlan_mac.bin

    chown system system /dev/ttyMSM1
    chmod 0664 /dev/ttyMSM1

    mkdir /data/vendor/nubiaeffect 0777 camera camera

    #add for sunwave fingerprint start
    chown system system /dev/sunwave_fp
    chmod 0660 /dev/sunwave_fp
    #add for sunwave fingerprint end

    # Nubia begin feature add sensors node
    chmod 0777 /persist/sensors

    # hall_device
    chown system system /sys/class/hall_device/hall_device/enable
    chmod 0644 /sys/class/hall_device/hall_device/enable

    # proximity
    chown system system /sys/class/proximity/proximity/enable
    chown system system /sys/class/proximity/proximity/prox_uncover_max
    chown system system /sys/class/proximity/proximity/reg
    chown system system /sys/class/proximity/proximity/prox_value
    chown system system /sys/class/proximity/proximity/dev_init
    chown system system /sys/class/proximity/proximity/delay
    chown system system /sys/class/proximity/proximity/prox_manual_calibrate_threshold
    chown system system /sys/class/proximity/proximity/prox_init
    chown system system /sys/class/proximity/proximity/prox_threshold_init
    chown system system /sys/class/proximity/proximity/prox_offset_init
    chown system system /sys/class/proximity/proximity/prox_thres
    chown system system /sys/class/proximity/proximity/chip_name
    chown system system /sys/class/proximity/proximity/prox_threshold_cal_start
    chown system system /sys/class/proximity/proximity/prox_offset_cal_start
    chown system system /sys/class/proximity/proximity/prox_offset_cal
    chown system system /sys/class/proximity/proximity/prox_data_safe_range_max
    chown system system /sys/class/proximity/proximity/prox_data_safe_range_min
    chown system system /sys/class/proximity/proximity/prox_calibrate
    chown system system /sys/class/proximity/proximity/prox_calibrate_start
    chown system system /sys/class/proximity/proximity/prox_calibrate_result
    chown system system /sys/class/proximity/proximity/prox_data_max
    chown system system /sys/class/proximity/proximity/prox_debug
    chown system system /sys/class/proximity/proximity/prox_thres_max
    chown system system /sys/class/proximity/proximity/prox_thres_min
    chown system system /sys/class/proximity/proximity/prox_threshold_high
    chown system system /sys/class/proximity/proximity/prox_threshold_low
    chown system system /sys/class/proximity/proximity/prox_thres_param_high
    chown system system /sys/class/proximity/proximity/prox_thres_param_low
    chown system system /sys/class/proximity/proximity/prox_pluse_length
    chown system system /sys/class/proximity/proximity/prox_thres_pulse_count
    chown system system /sys/class/proximity/proximity/prox_wakelock
    chown system system /sys/class/proximity/proximity/prox_phone_is_sleep
    chown system system /sys/class/proximity/proximity/prox_irq
    chown system system /sys/class/proximity/proximity/prox_offset_cal_verify
    chown system system /sys/class/proximity/proximity/prox_calibrate_verify

    chmod 0644 /sys/class/proximity/proximity/reg
    chmod 0644 /sys/class/proximity/proximity/prox_value
    chmod 0644 /sys/class/proximity/proximity/prox_offset_cal
    chmod 0644 /sys/class/proximity/proximity/dev_init
    chmod 0644 /sys/class/proximity/proximity/prox_manual_calibrate_threshold
    chmod 0644 /sys/class/proximity/proximity/chip_name
    chmod 0644 /sys/class/proximity/proximity/prox_threshold_cal_start
    chmod 0644 /sys/class/proximity/proximity/prox_offset_cal_start
    chmod 0644 /sys/class/proximity/proximity/prox_data_safe_range_max
    chmod 0644 /sys/class/proximity/proximity/prox_data_safe_range_min
    chmod 0644 /sys/class/proximity/proximity/prox_calibrate_start
    chmod 0644 /sys/class/proximity/proximity/prox_calibrate_result
    chmod 0644 /sys/class/proximity/proximity/prox_debug
    chmod 0644 /sys/class/proximity/proximity/prox_thres_max
    chmod 0644 /sys/class/proximity/proximity/prox_thres_min
    chmod 0644 /sys/class/proximity/proximity/prox_threshold_high
    chmod 0644 /sys/class/proximity/proximity/prox_threshold_low
    chmod 0644 /sys/class/proximity/proximity/prox_pluse_length
    chmod 0644 /sys/class/proximity/proximity/prox_thres_pulse_count
    chmod 0644 /sys/class/proximity/proximity/prox_irq
    chmod 0644 /sys/class/proximity/proximity/prox_offset_cal_verify
    chmod 0644 /sys/class/proximity/proximity/prox_calibrate_verify
    chown system system /persist/sensors/xtalk_cal
    chmod 0664 /persist/sensors/xtalk_cal

    # sensors key  event
    chmod 0664 /dev/input/event0
    chmod 0664 /dev/input/event1
    chmod 0664 /dev/input/event2
    chmod 0664 /dev/input/event3
    chmod 0664 /dev/input/event4
    chmod 0664 /dev/input/event5
    chmod 0664 /dev/input/event6
    chmod 0664 /dev/input/event7
    chmod 0664 /dev/input/event8

#nubia, tp & lcd node start
on post-fs-data

    chown system system /sys/kernel/lcd_enhance/cabc
    chown system system /sys/kernel/lcd_enhance/lcd_power_on
    chown system system /sys/kernel/lcd_enhance/lcd_power_off

    mkdir /data/tp 0775 system system
    mkdir /data/tp/debug 0775 system system

    chown system system /proc/android_touch/ic_ver
    symlink /proc/android_touch/ic_ver /data/tp/ic_ver

    chown system system /proc/android_touch/ic_detect
    symlink /proc/android_touch/ic_detect /data/tp/ic_detect

    chown system system /proc/android_touch/DC_data
    symlink /proc/android_touch/DC_data /data/tp/DC_data
    symlink /proc/android_touch/DC_data /data/tp/debug/DC_data

    chown system system /sys/kernel/tp/palm
    symlink /sys/kernel/tp/palm /data/tp/easy_sleep_palm

    chown system system /sys/kernel/tp/wake_gesture
    symlink /sys/kernel/tp/wake_gesture /data/tp/easy_wakeup_gesture

    chown system system /proc/android_touch/IIR_data
    symlink /proc/android_touch/IIR_data /data/tp/debug/IIR_data

    chown system system /proc/android_touch/BASEDC_data
    symlink /proc/android_touch/BASEDC_data /data/tp/debug/BASEDC_data

    chown system system /proc/android_touch/user_update
    symlink /proc/android_touch/IIR_data /data/tp/user_update

on property:sys.tp.wakeup=*
    write /data/tp/easy_wakeup_gesture ${sys.tp.wakeup}

on property:sys.tp.palmsleep=*
    write /data/tp/easy_sleep_palm ${sys.tp.palmsleep}

#nubia, tp & lcd node end

# nubia Disable SSR to SoC restart
on property:persist.vendor.ssr.restart_level=1
    write /sys/bus/msm_subsys/devices/subsys0/restart_level system
    write /sys/bus/msm_subsys/devices/subsys1/restart_level system
    write /sys/bus/msm_subsys/devices/subsys2/restart_level system
    write /sys/bus/msm_subsys/devices/subsys3/restart_level system
    write /sys/bus/msm_subsys/devices/subsys4/restart_level system
    write /sys/bus/msm_subsys/devices/subsys5/restart_level system
    write /sys/bus/msm_subsys/devices/subsys6/restart_level system

# Enable SSR
on property:persist.vendor.ssr.restart_level=3
    write /sys/bus/msm_subsys/devices/subsys0/restart_level related
    write /sys/bus/msm_subsys/devices/subsys1/restart_level related
    write /sys/bus/msm_subsys/devices/subsys2/restart_level related
    write /sys/bus/msm_subsys/devices/subsys3/restart_level related
    write /sys/bus/msm_subsys/devices/subsys4/restart_level related
    write /sys/bus/msm_subsys/devices/subsys5/restart_level related
    write /sys/bus/msm_subsys/devices/subsys6/restart_level related

on property:persist.vendor.ap.restart_level=0
    write /sys/module/msm_poweroff/parameters/download_mode 0

on property:persist.vendor.ap.restart_level=1
    write /sys/module/msm_poweroff/parameters/download_mode 1
